.title{
	background-color:white;
	background-image:linear-gradient(to bottom right, red, powderblue);
	font-family: new times roman;
	font-size:50px;
	background-color:orangered;
	color:white;
	text-align:center;
	border-style:solid;
	border-width:2px;
}
h1{
	background-color:orangered;
	color:white;
	text-align:center;
	border-style:solid;
	border-width:2px;
	font: Times New Roman;
}
.logo{
	position:absolute;
	background-color:dimgray;
}
.para{
	color:red;
	border
}
.about{
	background-image:linear-gradient(to bottom right, white, gray);
	border:gray;
	border-style:solid;
	border-width:2px;
	background-color:white;
}
